<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/fontawesome/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
	<link href="/assets/css/chats.css" rel="stylesheet">
	<script type="text/javascript" src="/assets/js/inputmask.min.js"></script>
	<title><%= title %></title>
</head>
<body>
	<div id="container">
		<div id="left">
			<div class="top-bar"><i class="fas fa-search"></i><input type="text" class="search-top"><i class="fas fa-bars"></i></div>
			<div class="new-conversation">+</div>
            <div id="1" class="conversation">
				<div>
					<div class="conversation-img"></div>
					<div class="conversation-message"><p>Ahmet</p><p>Lorem ipsum dolor sit amet.</p></div>
				</div>
            </div>
            <div id="1" class="conversation">
				<div>
					<div class="conversation-img"></div>
					<div class="conversation-message"><p>Mehmet</p><p>Aenean sit amet magna purus. </p></div>
				</div>
            </div> 
			<div id="1" class="conversation active">
				<div>
					<div class="conversation-img"></div>
					<div class="conversation-message"><p>Osman</p><p>Sed id imperdiet sem.</p></div>
				</div>
            </div>
        </div><div id="right">
			<div class="conversation-info">
				<div class="conversation-info-img"></div>
				<div class="conversation-title"><p>Osman</p></div>
				<div class="conversation-addition"><div><input type="text" class="conversation-search"><i class="fas fa-search"></i><i class="fas fa-ellipsis-v"></i></div></div>
			</div>
            <div class="conversation-area">
				<div class="conversation-date">29 Haziran 2020</div>
                <div class="message-area"><div class="message-me"><div class="message-sender-info">SirGeny</div>Fusce vehicula ultricies euismod. Nunc ac cursus massa. <div class="message-time">09:32</div></div></div>
                <div class="message-area"><div class="message-me"><div class="message-sender-info">SirGeny</div>Phasellus magna massa, imperdiet tincidunt dictum eu, eleifend ac tortor. Nulla id venenatis nibh, sit amet pellentesque ligula. Vivamus venenatis venenatis finibus. <div class="message-time">09:32</div></div></div>
                <div class="message-area"><div class="message-me"><div class="message-sender-info">SirGeny</div>Morbi libero velit, viverra vitae lacus non, malesuada varius quam.<div class="message-time">09:32</div></div></div>
                <div class="message-area"><div class="message-other"><div class="message-sender-info">Osman</div>Cras lobortis scelerisque sem, vitae blandit sem mollis a. Nulla eget lectus dignissim, fermentum leo non, dapibus arcu.<div class="message-time">11:54</div></div></div>
                <div class="message-area"><div class="message-other"><div class="message-sender-info">Osman</div>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed lobortis, metus vel feugiat sollicitudin, dolor elit iaculis sapien, sit amet rhoncus est sapien quis est.<div class="message-time">11:54</div></div></div>
                <div class="message-area"><div class="message-me"><div class="message-sender-info">SirGeny</div>Curabitur odio lorem, vulputate a venenatis sit amet, suscipit vel purus.<div class="message-time">09:32</div></div></div>
                <div class="message-area"><div class="message-other"><div class="message-sender-info">Osman</div>Sed id imperdiet sem.<div class="message-time">11:54</div></div></div>
            </div>
		</div>
	</div>
</body>
</html> 
