<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/fontawesome/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="/assets/css/login.css" rel="stylesheet">
	<script type="text/javascript" src="/assets/js/inputmask.min.js"></script>
	<title><%= title %></title>
</head>
<body>
	<div id="container">
		<div id="left">
			<div>

				<p>Nullam sed mauris ultricies, mollis lectus id, tincidunt erat.</p>
				<p>End to end Encrypted</p>
				<div id="logo">
					<i class="fab fa-slack-hash"></i><h1>social</h1>
				</div>
			</div>
		</div><div id="right">
			<div>
				<h1 class="loud-text">Aramıza Hoşgeldin.</h1>
				<h2 class="quiet-text">*Öncelikle giriş yapmalısın.</h2>
				<div class="input-class input-class-bg-dark input-class-padding">
					<i class="fas fa-envelope"></i>
					<input type="text" placeholder="E-mail Adresiniz" id="email" required="" autofocus="">
					<label>E-mail Adresiniz</label>
				</div>
				<div class="input-class input-class-bg-blue input-class-margin input-class-shadow">
					<div class="input-button"><i class="fas fa-sign-in-alt"></i> Giriş</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html> 
